.register{
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
}
.lottie{
  height: 400px;
}

.register input{
  background-color: transparent !important ;
  border: none;
  border-bottom: 2px solid rgb(22,28,81);
  color:rgba(255, 255, 255, 0.758);
}

input:focus{
  outline: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid rgb(22,28,81) !important;
}

label , a{
  /* color: rgba(255, 255, 255, 0.755) !important; */
  color: rgb(255, 255, 255, 0.758) !important;
}

.register h1{
 font-size: 25px;
 color: white;
}